<td><%= mapped_kpi_id.branchname%></td>
<td><%= mapped_kpi_id.kpicategory%></td>
<td><%= mapped_kpi_id.kpiname%></td>	  	  
<td><%= mapped_kpi_id.kpifrequency%></td>	       
<td><%= link_to 'Add Data',new_detail_path(:mapped_kpi_id => mapped_kpi_id),:class=> [:btn, :"btn-success"]%></td>  
	</tr> 