<div class="container">
  <table >    
    <thead>
      <tr>
        <th>ID</th>
        <th>Kpi Name</th>
        <th>Category</th>
        <th>Date</th>
        <th>Target</th>
        <th>Actual</th>
        <th>Target Percentage</th>
        <th>Notes</th>        
      </tr>
    </thead>
    <tbody>
      
      <tr>
      <%= form_for @detail do |f| %>     
         <td><%= f.hidden_field :kpi_id, :value => @kpi.id%>
         <td><%= @kpi.kpiname %></td>
         <td><%= @kpi.kpicategory %></td>
         <td>
         <% if @kpi.kpifrequency == 'Daily'%>
            <%= f.text_field :today, :class => 'title simple custom date_picker_input'%>
         <% elsif @kpi.kpifrequency == 'Monthly'%>
            <%= f.text_field :today, :class => 'title simple custom month_picker_input'%>
         <% elsif @kpi.kpifrequency == 'Quarterly'%>
            <%= f.text_field :today, :class => 'title simple custom quarter_picker_input'%> 
         <% elsif @kpi.kpifrequency == 'HalfYearly'%>
            <%= f.text_field :today, :class => 'title simple custom halfyear_picker_input'%>
         <% else%>  
            <%= f.text_field :today, :class => 'title simple custom year_picker_input'%>
         <%end%>
         </td>

         <td><%= f.text_field :target ,:value => @kpi.kpitarget %></td>
         <td><%= f.text_field :actual %></td>
         <td><%= f.text_field :target_percentage %></td>
         <td><%= f.text_field :notes %></td>                  
         <td>
          <div class="actions">
          <%= f.submit "save" ,:class=>["btn","btn-primary"] %>          
          </div>
        </td>    
      <%end%>
      </tr>
     </tbody>
 </table>
