<h4>Branch Kpi Details </h1>

<table class="table">
  <thead> 
        <th>Branch Name</th>
        <th>Kpi Category</th>
        <th>KPi Name</th>
        <th>KPI Frequency</th>        
  </thead>

<% @mapped_kpi_ids.each do |mapped_kpi_id| %>
	<tr>	 
	    <td><%= mapped_kpi_id.branchname%></td>
	    <td><%= mapped_kpi_id.kpicategory%></td>
	    <td><%= mapped_kpi_id.kpiname%></td>	  	  
	    <td><%= mapped_kpi_id.kpifrequency%></td>	     
	      
	    <td><%= link_to 'Add Data',new_detail_path(:mapped_kpi_id => mapped_kpi_id),:class => [:btn, :"btn-success"]%></td>    
	</tr>
<% end %> 


		
