 id="notice"><%= notice %></p>

<p>
  <b> Target:</b>
  <%= @detail.target %>
</p>

<p>
  <b> Actual:</b>
  <%= @detail.actual %>
</p>

<p>
  <b> Notes</b>
  <%= @detail.notes %>
</p>



<%= link_to 'Edit', edit_detail_path %> |
<%= link_to 'Back', details_path %>

